# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Data — raw PDFs and binary store (too large / potentially copyrighted)
data/raw/
data/processed/ijcscl.pkl
data/interim/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.bak
~$*
